In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("CSE_student_performances.csv")

In [4]:
# просмотр первых нескольких строк
df.head()

,Age,Gender,AcademicPerformance,TakingNoteInClass,DepressionStatus,FaceChallangesToCompleteAcademicTask,LikePresentation,SleepPerDayHours,NumberOfFriend,LikeNewThings
0,23,Male,Average,No,Sometimes,Yes,Yes,12,NaN,Yes
1,23,Male,Excellent,Sometimes,Yes,No,Yes,8,80.0,Yes
2,24,Male,Average,No,Sometimes,Sometimes,No,8,10.0,Yes
3,20,Female,Good,Yes,Sometimes,Yes,No,5,15.0,Yes
4,24,Female,Average,Yes,Yes,Yes,Yes,5,2.0,Yes

In [16]:
# получение информации о данных
df.shape

(99, 10)

In [22]:
# получение информации о данных
df.dtypes

Age                                       int64
Gender                                   object
AcademicPerformance                      object
TakingNoteInClass                        object
DepressionStatus                         object
FaceChallangesToCompleteAcademicTask     object
LikePresentation                         object
SleepPerDayHours                          int64
NumberOfFriend                          float64
LikeNewThings                            object
dtype: object

In [23]:
# получение информации о данных
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 10 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Age                                   99 non-null     int64
 1   Gender                                99 non-null     object
 2   AcademicPerformance                   95 non-null     object
 3   TakingNoteInClass                     99 non-null     object
 4   DepressionStatus                      92 non-null     object
 5   FaceChallangesToCompleteAcademicTask  99 non-null     object
 6   LikePresentation                      99 non-null     object
 7   SleepPerDayHours                      99 non-null     int64
 8   NumberOfFriend                        95 non-null     float64
 9   LikeNewThings                         99 non-null     object
dtypes: float64(1), int64(2), object(7)
memory usage: 7.9+ KB

In [25]:
# описательная статистика
df.describe()

            Age   SleepPerDayHours  NumberOfFriend
count  99.000000         99.000000       95.000000
mean   22.515152          6.717172       16.189474
std     1.560767          1.738169       25.397811
min    20.000000          4.000000        0.000000
25%    21.000000          5.000000        3.000000
50%    23.000000          7.000000        6.000000
75%    24.000000          8.000000       15.000000
max    25.000000         12.000000      100.000000

In [26]:
# описательная статистика
df.isnull().sum()

Age                                     0
Gender                                  0
AcademicPerformance                     4
TakingNoteInClass                       0
DepressionStatus                        7
FaceChallangesToCompleteAcademicTask    0
LikePresentation                        0
SleepPerDayHours                        0
NumberOfFriend                          4
LikeNewThings                           0
dtype: int64

In [33]:
# Удалите колонку 'LikePresentations', она нам не понадобится
df.drop(columns = ["LikePresentation"], inplace = True)
df

,Age,Gender,AcademicPerformance,TakingNoteInClass,DepressionStatus,FaceChallangesToCompleteAcademicTask,SleepPerDayHours,NumberOfFriend,LikeNewThings
0,23,Male,Average,No,Sometimes,Yes,12,NaN,Yes
1,23,Male,Excellent,Sometimes,Yes,No,8,80.0,Yes
2,24,Male,Average,No,Sometimes,Sometimes,8,10.0,Yes
3,20,Female,Good,Yes,Sometimes,Yes,5,15.0,Yes
4,24,Female,Average,Yes,Yes,Yes,5,2.0,Yes
...,...,...,...,...,...,...,...,...,...
94,21,Male,Good,Yes,Sometimes,Yes,6,4.0,Yes
95,21,Female,Good,Yes,Yes,No,6,6.0,Yes
96,25,Male,Good,Yes,Sometimes,No,4,9.0,No
97,21,Male,Good,Yes,No,Sometimes,10,23.0,Yes
98,22,Female,Average,Yes,No,No,7,3.0,Yes

In [58]:
# Измените названия ваших колонок - разделите слова в названии колонок. 
# Например, замените AcademicPerformance на Academic Performance
column_list = list(df.columns) # получил название колонок
new_columns = []
for name in column_list:
    name = name.replace(" ", "")
    new_name = ""
    for i in name:
        if i.isupper() and new_name:
            new_name = new_name + " " + i
        else: 
            new_name = new_name + i
    new_columns.append(new_name)

df.columns = new_columns
df

,Age,Gender,Academic Performance,Taking Note In Class,Depression Status,Face Challanges To Complete Academic Task,Sleep Per Day Hours,Number Of Friend,Like New Things
1,23,Male,Excellent,Sometimes,Yes,No,8,80.0,Yes
2,24,Male,Average,No,Sometimes,Sometimes,8,10.0,Yes
3,20,Female,Good,Yes,Sometimes,Yes,5,15.0,Yes
4,24,Female,Average,Yes,Yes,Yes,5,2.0,Yes
6,21,Female,Good,Yes,No,No,8,7.0,Yes
7,21,Male,Average,Sometimes,Yes,Sometimes,8,6.0,Yes
8,24,Male,Excellent,No,No,No,8,3.0,Yes
9,23,Female,Average,Yes,Sometimes,Sometimes,8,4.0,Yes
10,22,Male,Average,Yes,Yes,Sometimes,4,60.0,Yes
11,22,Male,Excellent,Sometimes,Sometimes,Yes,7,55.0,Yes
13,24,Female,Good,Yes,Yes,Yes,5,3.0,Yes
14,21,Female,Below average,Yes,Yes,Yes,5,1.0,Yes
15,25,Female,Average,Yes,Yes,Yes,5,3.0,Yes
16,24,Male,Average,Sometimes,No,Yes,7,100.0,Yes
17,20,Male,Good,No,Sometimes,No,7,7.0,Yes
18,22,Female,Average,Yes,No,No,7,3.0,Yes
20,21,Male,Good,Yes,Sometimes,Yes,6,4.0,Yes
21,21,Female,Good,Yes,Yes,No,6,6.0,Yes
23,21,Male,Good,Yes,No,Sometimes,10,23.0,Yes
25,25,Male,Average,Sometimes,Sometimes,Sometimes,7,0.0,No
26,23,Male,Good,Sometimes,Sometimes,Sometimes,5,12.0,No
27,25,Male,Average,Sometimes,Sometimes,Yes,8,15.0,Yes
28,21,Male,Average,Yes,Sometimes,Yes,8,7.0,Yes
29,23,Male,Good,Yes,No,No,8,3.0,Yes
30,23,Female,Average,Sometimes,Sometimes,Yes,8,0.0,Yes
31,23,Female,Average,Sometimes,Yes,Sometimes,8,2.0,No
37,23,Male,Good,Sometimes,Sometimes,No,8,12.0,Yes
44,24,Male,Average,Yes,Sometimes,Sometimes,7,17.0,Yes
51,21,Female,Good,Yes,Yes,Sometimes,4,2.0,Yes
54,25,Male,Good,Yes,Sometimes,No,4,9.0,No

In [50]:
# Очистка данных. Удалите дубликаты, если они есть ...
df.drop_duplicates(inplace = True)
df

,Age,Gender,Academic Performance,Taking Note In Class,Depression Status,Face Challanges To Complete Academic Task,Sleep Per Day Hours,Number Of Friend,Like New Things
0,23,Male,Average,No,Sometimes,Yes,12,NaN,Yes
1,23,Male,Excellent,Sometimes,Yes,No,8,80.0,Yes
2,24,Male,Average,No,Sometimes,Sometimes,8,10.0,Yes
3,20,Female,Good,Yes,Sometimes,Yes,5,15.0,Yes
4,24,Female,Average,Yes,Yes,Yes,5,2.0,Yes
5,23,Male,Good,Sometimes,NaN,No,8,12.0,Yes
6,21,Female,Good,Yes,No,No,8,7.0,Yes
7,21,Male,Average,Sometimes,Yes,Sometimes,8,6.0,Yes
8,24,Male,Excellent,No,No,No,8,3.0,Yes
9,23,Female,Average,Yes,Sometimes,Sometimes,8,4.0,Yes
10,22,Male,Average,Yes,Yes,Sometimes,4,60.0,Yes
11,22,Male,Excellent,Sometimes,Sometimes,Yes,7,55.0,Yes
12,24,Male,Average,Yes,NaN,Sometimes,7,17.0,Yes
13,24,Female,Good,Yes,Yes,Yes,5,3.0,Yes
14,21,Female,Below average,Yes,Yes,Yes,5,1.0,Yes
15,25,Female,Average,Yes,Yes,Yes,5,3.0,Yes
16,24,Male,Average,Sometimes,No,Yes,7,100.0,Yes
17,20,Male,Good,No,Sometimes,No,7,7.0,Yes
18,22,Female,Average,Yes,No,No,7,3.0,Yes
19,21,Female,NaN,Yes,Yes,Sometimes,4,2.0,Yes
20,21,Male,Good,Yes,Sometimes,Yes,6,4.0,Yes
21,21,Female,Good,Yes,Yes,No,6,6.0,Yes
22,25,Male,NaN,Yes,Sometimes,No,4,9.0,No
23,21,Male,Good,Yes,No,Sometimes,10,23.0,Yes
24,21,Female,Average,Yes,Sometimes,Sometimes,7,NaN,Yes
25,25,Male,Average,Sometimes,Sometimes,Sometimes,7,0.0,No
26,23,Male,Good,Sometimes,Sometimes,Sometimes,5,12.0,No
27,25,Male,Average,Sometimes,Sometimes,Yes,8,15.0,Yes
28,21,Male,Average,Yes,Sometimes,Yes,8,7.0,Yes
29,23,Male,Good,Yes,No,No,8,3.0,Yes
30,23,Female,Average,Sometimes,Sometimes,Yes,8,0.0,Yes
31,23,Female,Average,Sometimes,Yes,Sometimes,8,2.0,No
34,24,Male,Average,No,NaN,Sometimes,8,10.0,Yes
37,23,Male,Good,Sometimes,Sometimes,No,8,12.0,Yes
41,23,Female,Average,Yes,NaN,Sometimes,8,4.0,Yes
44,24,Male,Average,Yes,Sometimes,Sometimes,7,17.0,Yes
51,21,Female,Good,Yes,Yes,Sometimes,4,2.0,Yes
54,25,Male,Good,Yes,Sometimes,No,4,9.0,No
79,24,Male,NaN,Sometimes,No,Yes,7,100.0,Yes
83,21,Male,NaN,Yes,Sometimes,Yes,6,4.0,Yes
85,25,Male,Good,Yes,NaN,No,4,9.0,No

In [51]:
# … и строки с пропущенными значениями
df.dropna(how = "any", inplace = True)
df

,Age,Gender,Academic Performance,Taking Note In Class,Depression Status,Face Challanges To Complete Academic Task,Sleep Per Day Hours,Number Of Friend,Like New Things
1,23,Male,Excellent,Sometimes,Yes,No,8,80.0,Yes
2,24,Male,Average,No,Sometimes,Sometimes,8,10.0,Yes
3,20,Female,Good,Yes,Sometimes,Yes,5,15.0,Yes
4,24,Female,Average,Yes,Yes,Yes,5,2.0,Yes
6,21,Female,Good,Yes,No,No,8,7.0,Yes
7,21,Male,Average,Sometimes,Yes,Sometimes,8,6.0,Yes
8,24,Male,Excellent,No,No,No,8,3.0,Yes
9,23,Female,Average,Yes,Sometimes,Sometimes,8,4.0,Yes
10,22,Male,Average,Yes,Yes,Sometimes,4,60.0,Yes
11,22,Male,Excellent,Sometimes,Sometimes,Yes,7,55.0,Yes
13,24,Female,Good,Yes,Yes,Yes,5,3.0,Yes
14,21,Female,Below average,Yes,Yes,Yes,5,1.0,Yes
15,25,Female,Average,Yes,Yes,Yes,5,3.0,Yes
16,24,Male,Average,Sometimes,No,Yes,7,100.0,Yes
17,20,Male,Good,No,Sometimes,No,7,7.0,Yes
18,22,Female,Average,Yes,No,No,7,3.0,Yes
20,21,Male,Good,Yes,Sometimes,Yes,6,4.0,Yes
21,21,Female,Good,Yes,Yes,No,6,6.0,Yes
23,21,Male,Good,Yes,No,Sometimes,10,23.0,Yes
25,25,Male,Average,Sometimes,Sometimes,Sometimes,7,0.0,No
26,23,Male,Good,Sometimes,Sometimes,Sometimes,5,12.0,No
27,25,Male,Average,Sometimes,Sometimes,Yes,8,15.0,Yes
28,21,Male,Average,Yes,Sometimes,Yes,8,7.0,Yes
29,23,Male,Good,Yes,No,No,8,3.0,Yes
30,23,Female,Average,Sometimes,Sometimes,Yes,8,0.0,Yes
31,23,Female,Average,Sometimes,Yes,Sometimes,8,2.0,No
37,23,Male,Good,Sometimes,Sometimes,No,8,12.0,Yes
44,24,Male,Average,Yes,Sometimes,Sometimes,7,17.0,Yes
51,21,Female,Good,Yes,Yes,Sometimes,4,2.0,Yes
54,25,Male,Good,Yes,Sometimes,No,4,9.0,No

In [61]:
# Выявить среднее количество сна студентов
df["Sleep Per Day Hours"].mean()

6.733333333333333

In [66]:
# Вывести таблицу, где только студенты с оценками "excellent" …
df[df["Academic Performance"] == "Excellent"]

,Age,Gender,Academic Performance,Taking Note In Class,Depression Status,Face Challanges To Complete Academic Task,Sleep Per Day Hours,Number Of Friend,Like New Things
1,23,Male,Excellent,Sometimes,Yes,No,8,80.0,Yes
8,24,Male,Excellent,No,No,No,8,3.0,Yes
11,22,Male,Excellent,Sometimes,Sometimes,Yes,7,55.0,Yes

In [67]:
# … и посчитать среднее значение сна
df[df["Academic Performance"] == "Excellent"]["Sleep Per Day Hours"].mean()

7.666666666666667

In [69]:
# Вывести таблицу, где только студенты с депрессией - yes …
df[df["Depression Status"] == "Yes"]

,Age,Gender,Academic Performance,Taking Note In Class,Depression Status,Face Challanges To Complete Academic Task,Sleep Per Day Hours,Number Of Friend,Like New Things
1,23,Male,Excellent,Sometimes,Yes,No,8,80.0,Yes
4,24,Female,Average,Yes,Yes,Yes,5,2.0,Yes
7,21,Male,Average,Sometimes,Yes,Sometimes,8,6.0,Yes
10,22,Male,Average,Yes,Yes,Sometimes,4,60.0,Yes
13,24,Female,Good,Yes,Yes,Yes,5,3.0,Yes
14,21,Female,Below average,Yes,Yes,Yes,5,1.0,Yes
15,25,Female,Average,Yes,Yes,Yes,5,3.0,Yes
21,21,Female,Good,Yes,Yes,No,6,6.0,Yes
31,23,Female,Average,Sometimes,Yes,Sometimes,8,2.0,No
51,21,Female,Good,Yes,Yes,Sometimes,4,2.0,Yes

In [70]:
# … и посчитать среднее значение их сна
df[df["Depression Status"] == "Yes"]["Sleep Per Day Hours"].mean()

5.8